/* .Card {
display: inline-flex;
} */

.card-text {
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    margin-top: 20px;
}

.card-title {
    text-align: center;
    color: #f80209;
    font-weight: bold;
    font-size: 40px;
    border-style: solid;
    border-radius: 10px;
}

